<div id="content-header">
  <img src="/images/homework/button_homeworks.gif" alt="homework" />
  <h1>Homeworks</h1>
  <h3>Edit Homework</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
   
      <div class="bread_crumb">
       <%= link_to 'Courses', courses_path %> &raquo;
        <%= link_to @course.full_name, @course %> &raquo;
        <%= link_to "Batch #{@batch.name}", [@course, @batch] %> &raquo;
        <%= link_to 'homeworks', batch_homework_groups_path(@batch) %> &raquo;
        <%= link_to @homework_group.name, [@batch, @homework_group] %> &raquo;
        Edit
        </div>

    <h4>For homework group - <%= @homework_group.name %></h4>

    <% form_for([@homework_group, @homework],:html => {:multipart => true}) do |f| %>

      <div class="label-field-pair">
        <%= f.label :subject_id %>
        <div class="text-input-bg"><%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]} %></div>
      </div>

      <div class="label-field-pair">
        <%= f.label :start_time %>
        <div class="text-input-bg">  <%= f.calendar_date_select :start_time %></div>
      </div>
      <div class="label-field-pair">
        <%= f.label :end_time %>
        <div class="text-input-bg"><%= f.calendar_date_select :end_time %></div>
      </div>
      <div class="label-field-pair">
        <%= f.label :maximum_marks %>
        <div class="text-input-bg"><%= f.text_field :maximum_marks %></div>
      </div>
     
 <div class="label-field-pair">
        <%= f.label :minimum_marks %>
        <div class="text-input-bg"><%= f.text_field :minimum_marks %></div>
      </div>
      
<div class="label-field-pair">
	<%= f.label :description %>
	 <div class="text-input-bg"><%= f.text_area :description,:rows => 15 %></div>
     </div>

      <%= submit_tag "", :value => "► Save", :class => "submit_button" %>

    <% end %>

    <div class="extender"></div>
  </div>
</div>
